{% extends "base.html" %}

{% block content %}
  <br>
  <h1 class="display-4">
    Newspaper List
  </h1>
  <h1>
    <a style="float: right" href="{% url "newspaper:newspaper-create" %}">
      Create
    </a>

    {% include "search_form.html" %}
  </h1>

  {% if newspaper_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Count of Publishers</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for newspaper in newspaper_list %}
        <tr>
          <td>{{ newspaper.id }}</td>
          <td>
            <em>
              <a href="{% url "newspaper:newspaper-detail" pk=newspaper.id %}">
                {{ newspaper.title }}
              </a>
            </em>
          </td>
          <td>
            {{ newspaper.topic.name }}
          </td>
          <td>{{ newspaper.publishers.count }}</td>
          <td>
            <a href="{% url "newspaper:newspaper-update" pk=newspaper.id%}">
              <strong>Update</strong>
            </a>
          </td>
          <td>
            <a style="color: red" href="{% url "newspaper:newspaper-delete" pk=newspaper.id%}">
              <strong>Delete</strong>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p style="color: red">There are no newspapers in taxi</p>
  {% endif %}
{% endblock %}
