{% extends "base.html" %}

{% block content %}
  <br>
  <h1 class="display-4">
    Topic List
  </h1>
  <h1>
    <a style="float: right" href="{% url "newspaper:newspaper-create" %}">
      Create
    </a>

    {% include "search_form.html" %}
  </h1>

    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.id }}</td>
        <td>
          <a href="{{ redactor.get_absolute_url }}">
            {{ redactor.username }} {% if user == redactor %} (Me){% endif %}
          </a>
        </td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>
          {% if redactor.years_of_experience is None %}
            no experience
          {% elif redactor.years_of_experience == 1 %}
            {{ redactor.years_of_experience }} year
          {% else %}
            {{ redactor.years_of_experience }} years
          {% endif %}
        </td>
        <td>
          <a href="{% url "newspaper:redactor-update" pk=redactor.id%}">
            <strong>Update</strong>
          </a>
        </td>
        <td>
          <a style="color: red" href="{% url "newspaper:redactor-delete" pk=redactor.id%}">
            <strong>Delete</strong>
          </a>
        </td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p style="color: red">There are no redactors in the service.</p>
    {% endif %}
{% endblock %}
