{% extends 'layouts/base.html' %}

{% block title %} Newspaper Delete {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} contact-us {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <header>
    <div class="page-header section-height-85">
      <div>
        <img
            class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
            src="{{ ASSETS_ROOT }}/img/curved-images/curved10.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex justify-content-center flex-column">
            <div
                class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="text-center">

                {% if not user.is_superuser %}
                  <h4 style="color: brown">Only superusers can delete publishers!</h4>
                  <br>
                  <button onclick="goBack()" class="btn btn-secondary">Go Back
                  </button>
                {% else %}
                  <h3 class="text-gradient text-dark">Publisher Delete</h3>
                    <p class="mb-0">
                    <h5 style="color: red">Are you sure you want to delete the
                      publisher<br>{{ redactor }}?</h5>
                    </p>
                    <form action="" method="post" novalidate>
                      {% csrf_token %}
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <button onclick="goBack()" class="btn btn-secondary">Go Back
                    </button>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script>
      function goBack() {
          window.history.back();
      }
  </script>

  <script src="{{ ASSETS_ROOT }} /js/soft-design-system.min.js?v=1.0.1"
          type="text/javascript"></script>

{% endblock javascripts %}
